body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("grass.jpg");
    color: #FFFFFF;
    text-align: center;
}

h1{
    font-size: 3.3em;
    margin-top: 100px;
}

div{
    border-radius: 25px;
    background-color: rgba(23, 59, 11, 0.86);
    height: 250px;
    width: 1350px;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

#welcome{
    background-color: transparent;
}

#error{
    border-radius: 25px;
    background-color: rgba(230, 85, 85, 0.7);
    top: 550px;
    width: 400px;
    height: 105px;
    display: table-cell;
}

#invalidusername{
    border-radius: 25px;
    background-color: rgba(230, 85, 85, 0.7);
    top: 550px;
    width: 425px;
    height: 70px;
    display: table-cell;
}
