body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url("grass.jpg");
    color: #FFFFFF;
    text-align: center;
}

div{
    font-size: 1.8em;
    border-radius: 25px;
    background-color: rgba(23, 59, 11, 0.86);
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 650px;
    height: 250px;
}